.ipynb_checkpoints
__pycache__/
simpleredcal.egg-info
*test*
*.out
res_df*
rel_df*
deg_df*
opt_df*
aligned_red_deg*
check_rel_df*
check_df*
xd_rel_df*
results/
simpleredcal/data/idr2_flags.npz
simpleredcal/data/b2f2*.npz
b2f2_flags/